{% extends "digi_diaries/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
    <h1>Edit topic</h1>
{% endblock page_header %}
    
{% block content %}

    <p><a href="{% url 'digi_diaries:topics' %}" style="text-decoration: none;" class="text-dark">{{topic|safe}}</a></p>
    <form action="{% url 'digi_diaries:edit_topic' topic.id %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
       <!-- {% bootstrap_button button_type="submit" content="Save changes" %}-->
        <button name="submit" class="btn btn-secondary btn-md mb-2">Save changes</button>
    </form>
    
{% endblock content %}






    