{% extends 'digi_diaries/base.html' %}
{% block page_header%}
<div class="d-flex justify-content-between align-items-center mb-2">
<a href="{% url 'digi_diaries:sub_topics' topic.id %}" style="text-decoration: none;" class="text-dark"><h1>{{ sub_topic.title }}</h1></a>
    <div class="d-flex gap-3">    
       <a href="{% url 'digi_diaries:add_entries' sub_topic.id %}" class="btn btn-outline-secondary btn-sm">Add Entry</a>
       <!-- <button type="button" id="edit-button" class="btn btn-outline-secondary btn-sm" style="text-decoration: none;">Edit Entry</button>-->
    <button type="button" id="delete-button-entry" class="btn btn-outline-secondary btn-sm">Delete Entry</button>
    </div>
</div>    
{% endblock page_header%}

{% block content %}
  
<form action="{% url 'digi_diaries:delete_entries' %}" id="delete-form-entry" method="POST">
  {% csrf_token %}
<table class="table table-responsive">
    <thead>
      <tr class="d-flex align-items-center">
        <th style="width: auto;">Select</th>
        <th style="width: 5%;"></th>
        <th style="width: 20%;">Title</th>
        <th>Entry</th>
      </tr>
    </thead>
    <tbody>

    {% for entry in entries %}
    <tr class="d-flex align-items-center mb-2 px-2">
        <td class="d-flex align-items-center" style="width: 10%;">
          <input type="checkbox" name="selected_entries" value="{{ entry.id }}">
        </td>
        <td style="width: 30%;">
          <a href="{% url 'digi_diaries:edit_entries' sub_topic.id entry.id %}" style="text-decoration: none;" class="text-dark">{{ entry.title }}:</a>
        </td>
        <td style="width: 100%;">
          <a href="{% url 'digi_diaries:edit_entries' sub_topic.id entry.id %}" style="text-decoration: none;" class="text-dark">{{ entry.content|safe }}</a>
        </td>
      </tr>   
      {% empty %}
      <p>There are no entries for this topic yet.</p>
    {% endfor %}
    </form>
    </table>

    <script>
      // JavaScript for handling delete action (delete entry)
      document.addEventListener("DOMContentLoaded", function () {
          const deleteButton = document.getElementById("delete-button-entry");
    
          deleteButton.addEventListener("click", function () {
              const checkboxes = document.querySelectorAll('input[name="selected_entries"]:checked');
              if (checkboxes.length > 0) {
                  const confirmDelete = confirm("Are you sure you want to delete the selected entries?");
                  if (confirmDelete) {
                      document.getElementById("delete-form-entry").submit();
                  }
              } else {
                  alert("Please select at least one entry to delete.");
              }
          });
      });
    </script>

{% endblock content %}
    