{% extends 'digi_diaries/base.html' %}
{% load static %}
{% block page_header %} 

<div class="bg" style="background-image: url({% static 'images/digi_diary_image.jpeg' %}); background-size: cover; background-position: center; height: 225px; width: 100%; background-repeat: no-repeat;">
</div>

    <div class="p-3 mb-4 bg-light border rounded-3"> 
        <div class="container-fluid py-4"> 

            <h1 class="display-3">Digi Diary - Secure Your Thought.</h1> 
            
            <p class="lead">This digital diary is your private and secure space to capture ideas or thoughts on the go, as they occur. Never miss anything key, revise and revisit as you like.</p> 
            
            <a class="btn btn-secondary btn-md mt-1" 
                href="{% url 'accounts:register' %}">Register &raquo;</a> 
        </div> 
    </div> 
{% endblock page_header %} 
    
