# Force GitHub to recognize only Python and HTML
*.py linguist-language=Python
templates/**/*.html linguist-language=HTML

# Ignore all CSS & JS files from language stats
static/**/*.css linguist-vendored
static/**/*.js linguist-vendored
staticfiles/**/* linguist-vendored
