# Assign correct languages
*.py linguist-language=Python
templates/**/*.html linguist-language=HTML
static/css/**/*.css linguist-language=CSS
static/js/**/*.js linguist-language=JavaScript

# Ignore third-party/vendor & compiled files
node_modules/**/* linguist-vendored
staticfiles/**/* linguist-vendored  # Ignore CKEditor & Django static files
static/js/vendor/**/* linguist-vendored
static/js/libs/**/* linguist-vendored
static/**/*.min.js linguist-vendored

# Force GitHub to count only YOUR JS & CSS
!static/css/*.css
!static/js/*.js
