# Assign correct languages
*.py linguist-language=Python
templates/**/*.html linguist-language=HTML
static/css/**/*.css linguist-language=CSS

# Ignore ALL JavaScript by default
*.js linguist-vendored

# Only count your own JavaScript files
static/js/custom/**/*.js linguist-language=JavaScript
